aws_region                    = "us-east-1"
project_name                  = "talking-fellow"
environment                   = "dev"
lex_bot_name                  = "CustomerSupportMultilingualBot"
support_email                 = "support-team@example.com"
cloudwatch_log_retention_days = 14
transcript_ttl_days           = 30
deploy_website                = true
